node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
.vscode
.idea
*.md
tests
.phpunit.cache
coverage
