/* resources/css/app.css */
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@import "@fontsource/quicksand";

/* Optional base styles */
@layer base {
    html {
        font-family: "Quicksand", system-ui, sans-serif;
    }

    /* Smooth font rendering */
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
         user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}

.watermarked-table::before {
    content: "CONFIDENTIAL";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    pointer-events: none;
    z-index: 0;
}


/* Custom components (optional) */
@layer components {
    .btn {
        @apply px-4 py-2 rounded font-medium bg-blue-600 text-white hover:bg-blue-700 transition-colors;
    }
}

/* Custom utilities (optional) */
@layer utilities {
    .text-shadow {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}
